/* Mobile first style is the standard (using min-width) */
/* If Desktop first style then (max-width) */

.multimedia__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-align: left;
}

.multimedia__description {
    max-width: 60ch;
    font-size: var(--size-base);
    color: var(--clr-slate600);
    margin: 1rem auto;
}


/* xs */ 
@media (min-width: 475px) {
    .multimedia__title {
        font-size: var(--size-3xl);
    }
    
    .multimedia__description {
        max-width: 60ch;
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
}

/* sm */
/* @media (min-width: 640px) {} */


/* md */
/* @media (min-width: 768px) {} */


/* Lg */
@media (min-width: 1024px) {
    .multimedia__title {
        font-size: var(--size-4xl);
    }
    
    .multimedia__description {
        font-size: var(--size-lg);
    }
}


/* xL */
@media (min-width: 1280px) {
    .multimedia__title {
        font-size: var(--size-5xl);
    }
    
    .multimedia__description {
        font-size: var(--size-xl);
    }
} 


/* 2xL */
/* @media (min-width: 1536px) { } */